@media only screen and (max-width: 1200px){
.container{padding-left:15px; padding-right:15px;}
.row{margin-left:0; margin-right:0;}
.industry .fig{width:100%;}
.right-widget{padding-left:0;}
.keySec{margin-left:-15px; margin-right:-15px;}
}
@media only screen and (max-width: 1024px){
.header{padding:0px 0 5px;}
.nav{flex:inherit; max-width:none;}
.menu-bar{display:inline-block;}
.nav .menu{display: none; background:#111; box-shadow:0 -8px 6px 0 #000 inset;}
.fa-bars{display:block; float:right;}
span.fa-bars::before{display:none;}
.menu .fa-bars{margin:10px 20px;}
.nav ul{clear:both; display:block; }
.nav ul li{border-bottom: 0 none;float: none; display:block; text-align:left; padding:0px 0px; border-radius:0px;border-bottom: 1px solid #222;}
.nav ul li a, .nav ul li.last a, .nav ul li a.active{padding:16px 20px; color:#fff; border:0px;text-align:left;}
.nav ul li ul li a{padding:15px 10px 15px 30px; border-bottom:0;}
.nav ul li ul li{background:#222; border-bottom:1px solid #000;}
.nav ul li:hover ul li a{border-bottom:0;}
.nav .menu{position:fixed; top:0px; right:0px; display:none; width:340px; z-index:999999!important; height:120%; overflow:scroll;}
.nav ul li.menu-link a{border-radius:0;}
.nav .menu ul{overflow:auto;height:100%; }
.nav ul li.last{padding:0px;}
.nav ul li a:hover{color:#fff; background:#659ebc; border:0px;}
.nav ul li:hover a{border:0px;}
.nav ul li ul{position:static; top:0px; left:0px;}
.nav ul li:hover ul{display:none;}
.nav ul li ul{width:100%; background:none; box-shadow:none;}
.nav ul li a .fa{float:right; font-size:14px; margin-top:3px}
.logo{padding:10px 0 10px 0px; width:60%;}
.helpSec h4{line-height:36px;}
.nav ul li.dropdown::after{top:22px; right:20px;}
.nav ul li a:hover, .nav ul li:hover a{background:none;}
.widgetBox .half{float:none; width:100%; padding-bottom:1px;}
.buy-btn::before{left:47%;}
.payment-option p{text-align:center;}
.banner h1{font-size:40px;}
.small-insight.insight{margin-top:0;}

}

@media only screen and (max-width: 991px){
.insight, .industry{max-width:400px; margin:20px auto;}
.industry{max-width:290px;}
.aboutSec{background-size:cover; text-align:center;}
.aboutSec .hr{margin-left:auto; margin-right:auto;}
.aboutSec .btn{margin-bottom:30px;}
.footer h2{padding-top:30px;}
.copyright .text-right{text-align:left!important; padding-top:25px;}
.blueSec .col-lg-3{padding-bottom:35px;}
.industry .fig{width:auto; margin:0 auto;}
.f-iphone {background: none;height: auto;}
.f-box, .f-box:nth-of-type(2n){width: 95%; margin: 20px auto; padding: 10px; float: none;}
.f-box:nth-of-type(2n) .f-box-logo, .f-box .f-box-logo {margin: 0 auto;left: 50%;}
.f-box .f-box-head, .f-box .f-box-desc{text-align:center;}
.f-box::after{display:none;}
.insightDet .btn{padding: 8px 15px; margin-left:10px;}
.right-widget{padding:30px 15px 0 15px;}
.right-widget figure img{width:100%;}
}
@media only screen and (max-width: 800px){
.half{float:none; width:100%;}
.half img{width:100%;}
.blueSec .col-md-3{border-bottom:1px solid #343971; border-right:0; padding-bottom:30px;}

.width85, .width55{width:100%; min-height:inherit;}
.outcomeSec{padding:30px 0; background-size:cover;}
.outcomeBox{margin-top:30px;}
.holder{margin:20px auto; max-width:400px;}
.joinSec{background-size:auto; text-align:center; padding:40px 0;}
.footer .col-md-3{padding-bottom:20px;}
.footer .col-md-4{overflow:hidden; padding-bottom:10px;}
.social{text-align:left; padding-top:10px;}
.title{pointer-events:auto;}
.title{padding-left:45px;}
.title::after{left:15px;}
.title::before{right:15px; content:"\f078"; position:absolute; font-size:20px; font-weight:normal; top:15px; font-family:"fontAwesome"}
.widget{margin-bottom:30px;}
.insight-ser ul li {float: none;margin: 5px auto 0 !important;display: inline-block;}
.insight-ser{padding:0 0;}
.subscribe-banner{padding:50px 0; text-align:center;}
.subscribe-banner h1{font-size:32px;}
.subscribe-form{text-align:left;}

}

@media only screen and (max-width: 720px){
.banner .item{padding:50px 20px; min-height:inherit;}
.exp{padding:30px 0;}
.inner-banner{min-height:inherit; padding:50px 0;}
.inner-banner h1{font-size:30px;}
.det, .buy{width:100%; max-width:100%; border-left:0;}
.buy{padding-top:15px; margin-top:15px; border-top:1px solid #eee;}
.small-insight{width:25%;}
.insightDet{width:72%;}
.btn-default{margin-bottom:5px;}
.tag{margin-bottom:10px;}
.nav-tabs li a{padding:20px 20px;}
.banner .box{border:0; text-align:center; padding:10px 0 10px;}
.banner .box::before, .banner .box::after, .banner .box::before{display:none;}
.banner .graphic{margin:30px auto 0; display:none;}
.client-logo img{max-width:20%;}
.subscribe-banner{background-position:left bottom;}
.subscribe-banner h4{font-size:20px; letter-spacing:2px; line-height:28px;}
}

@media only screen and (max-width: 600px){
.small-insight.insight, .insightDet{max-width:100%; width:100%;}
.nav-tabs li{width:50%; border-bottom:1px solid #ddd;}
.nav-tabs{flex-wrap:wrap;}
.sort{display:flex; align-items:center;}
.sort .col-7, .sort .col-5{padding:0 0;}
}
@media only screen and (max-width: 500px){
.banner h2{font-size:24px;}
.banner p{font-size:18px; line-height:28px;}
.common h2{font-size:28px;}
.common h3{font-size:22px;}
.exp .cover .half.last{padding:20px;}
.exp .cover .ticker{font-size: 20px;max-width: 175px; padding:15px 25px;}
.blueSec h5{font-size:45px;}
.searchBox .searchFld, .searchBox button, .searchBox .fa-times{font-size:22px;}
.sort .col-sm-6{text-align:left!important; padding:5px 15px!important;}
.inner-banner{text-align:center;}
.inner-banner h1{font-size:24px;}
.stepBox .stepClm h4{font-size:13px;}
.mode span.s{width:49%;}
.small-insight, .insightDet{float:none; width:100%;}
.small-insight .fig .figure{max-height:200px;}
.small-insight .context{padding:20px; min-height:100px;}
.small-insight .context p{font-size:20px; line-height:auto;}
.banner .btn{margin-bottom:10px;}

.topBar .col-sm-6{padding-left: 0;padding-right: 0; max-width:90%;}
.topBar .col-sm-6:last-child{max-width:10%;}
.topBar a{padding:0 5px;}
.search .tel, .search span{display:none;}
.banner h1{font-size:30px;}
.mrSec .col-lg-12, .mrSec .container{padding-left:0; padding-right:0;}
.client-logo img{max-width:30%;}
.common h2{font-size:30px;}
.homeFooter{padding-top:120px;}
.breadcrumb{justify-content: center;}
.cart-form{padding:30px;}
.cartSec .container{padding-left:0; padding-right:0;}
.pagination{justify-content:center;}
.subscribe-form{padding:20px;}
.lgreenSec .col-md-6{padding:0 0;}
.accordion{padding:20px;}
.accordion .card-header{font-size:16px;}
}
@media only screen and (max-width: 470px){
.nav-tabs li{width:50%; }
.nav-tabs li a{box-shadow: #bbb 0px 0px 1px;}
.btn-default{display:block; width:100%; margin-right:0;}
.buy-btn::before {left: 40%;}
.dgraySec, .dgraySec .container, .dgraySec .col-lg-8{padding:0;}
.darkgraySec{padding:50px 0;}
.darkgraySec .col-lg-8{padding:0 0px;}
.darkgraySec .right-widget{padding:20px 0px; margin-top:30px;}
.tab-content{border:0; padding:20px 0;}
.publication{padding:50px 20px 130px;}
}

@media only screen and (max-width: 390px){
.qcontact table td{padding:12px 0 12px 10px !important;}
}