@import url('https://fonts.googleapis.com/css?family=Playfair+Display:300,400,500,600,700,900 | Playball:400' );


@font-face {
    font-family: 'Acherus Grotesque';
    src: local('Acherus Grotesque Regular'), local('Acherus-Grotesque-Regular'),
        url('../fonts/AcherusGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/AcherusGrotesque-Regular.woff') format('woff'),
        url('../fonts/AcherusGrotesque-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Acherus Grotesque';
    src: local('Acherus Grotesque Bold'), local('Acherus-Grotesque-Bold'),
        url('../fonts/AcherusGrotesque-Bold.woff2') format('woff2'),
        url('../fonts/AcherusGrotesque-Bold.woff') format('woff'),
        url('../fonts/AcherusGrotesque-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

html, body{height:100%; font-family:"Acherus Grotesque", sans-serif}
*{padding:0px; margin:0px; box-sizing: border-box; outline:none; list-style:none;}
ul, li{margin:0px; padding:0px;}
img{border:0px; max-width:100%;}
a{transition:all 0.3s ease-out 0s;text-decoration:none;} a:hover{text-decoration:none;}
a:hover img{opacity:.9;transition:all 0.3s ease-out 0s;}
.clr{clear:both;}
.f-right{float:right!important;} .f-left{float:left!important;}
h1, h2, h3, h4, h5, h6{margin:0; font-family:"Playfair Display", sans-serif;}
.marT1{margin-top:5px;} .marT2{margin-top:10px;} .marT3{margin-top:15px;} .marT4{margin-top:20px;} .marT5{margin-top:25px;} .marT6{margin-top:30px;} .marT7{margin-top:40px;}
.marB1{margin-bottom:5px;} .marB2{margin-bottom:10px;} .marB3{margin-bottom:15px;} .marB4{margin-bottom:20px;} .marB5{margin-bottom:25px;} .marB6{margin-bottom:30px;} .marB7{margin-bottom:40px;}
.padT1{padding-top:5px;} .padT2{padding-top:10px;} .padT3{padding-top:15px;} .padT4{padding-top:20px;} .padT5{padding-top:25px;} .padT6{padding-top:30px;} .padT7{padding-top:40px;}
.padB0{padding-bottom:0px!important;} .padB1{padding-bottom:5px;} .padB2{padding-bottom:10px;} .padB3{padding-bottom:15px;} .padB4{padding-bottom:20px;} .padB5{padding-bottom:25px;} .padB6{padding-bottom:30px;} .padB7{padding-bottom:40px;}
.width30, .width40, .width50, .width55, .width60, .width65, .width70, .width80, .width85, .width90{margin-left:auto; margin-right:auto;}
.width30{width:30%;} .width40{width:40%;} .width50{width:50%;} .width55{width:55%;} .width60{width:60%;} .width65{width:65%;} .width70{width:70%;} .width80{width:80%;} .width85{width:85%;} .width90{width:90%;}
.blue{color:#07222b!important;} .black{color:#000!important;} .darkblue{color:#175183!important;} .red{color:#d82a2c!important;} .green{color:#8dca2c!important;} .white{color:#fff!important;} .orange{color:#ff4900!important;} .gray{color:#424242!important;} .yellow{color:#ffcc00!important;}
body{background:#fff; font:400 14px "Acherus Grotesque",sans-serif; color:#07222b;}
.container{max-width:1200px; padding-left:0; padding-right:0;}
.wrapper{max-width:1000px;}
.header{padding:15px 0; position:relative; box-shadow:rgba(0,0,0,.2) 0 0 20px; z-index:1; background:#fff;}
.header .row{align-items:center;}
.logo{width:26%; float:left;}
.lang{flex:inherit; max-width:none;}
.nav ul{display:flex; width:100%;}
.nav .menu{margin-left:auto;}
.nav ul li{ padding:0 2px 0 2px; position:relative; font-family:"Playfair Display", sans-serif;}
.nav ul li a{display:block;padding:13px 45px; text-align:center; color:#082752; font-size:18px;font-weight:600; letter-spacing:3px; text-transform:uppercase; transition:all 0.3s ease-out 0s;}
.nav ul li a:hover, .nav ul li:hover a{background:#e05a00; color:#fff;}

.nav ul li.menu-link a{color:#02feb5; border:1px solid #02feb5;}
.nav ul li.menu-link a:hover{background:#02feb5; color:#000;}
.banner{background:url(../images/hero.jpg) no-repeat center top; background-size:cover; min-height:705px; align-items:center; display:flex;}

.banner .row{align-items:center;}
.banner h1{font-size:73px; color:#fff; font-weight:700; text-transform:uppercase; letter-spacing:10px; text-shadow:rgba(0,0,0,.3) 2px 2px 10px; position: relative;
  animation-name: moveani; animation-duration:1.5s;}
.inner-banner{min-height:500px;}

@keyframes moveani {
  0%   {text-shadow:rgba(0,0,0,1) 00px 100px 0px;}
  50% {text-shadow:rgba(0,0,0,.3) 0px 50px 0px;}
  100% {text-shadow:rgba(0,0,0,.3) 2px 2px 10px;}
}

.btn-primary{background:#e05a00; border:0; border-radius:5px!important; font-size:16px; font-weight:700; text-transform:uppercase; padding:12px 35px 15px; text-align:center; color:#fff;}
.banner .btn{font-size:26px; letter-spacing:5px; padding:30px 50px; box-shadow:rgba(0,0,0,.3) 0 0 20px;}
.btn-primary:hover{background:#082752;}
.btn-secondary{background:#00beff; border:0; border-radius:500px!important; font-size:16px; font-weight:500; text-transform:uppercase; padding:15px 30px; text-align:center; min-width:210px;margin:0 5px;}
.btn-secondary:hover{background:#02eaa7;}
.graySec{padding:70px 0; position:relative;}
.blueSec{padding:70px 0; background:#0d4254 url(../images/pattern.png) repeat 0 0;}
.graySec::before{position:absolute; width:100%; height:100%; background:url(../images/pattern.png) repeat 0 0; content:""; z-index:0; left:0; top:0; opacity:.3;}
.half{float:left; width:50%;}
.common h3{font-size:26px; font-weight:700; color:#e05a00;}
.common h2{font-size:30px; font-weight:700; color:#e05a00;}
.common h4{font-size:26px; font-weight:400; color:#082752; font-family:Playball;}
.common h5{font-size:17px; line-height:26px; font-weight:400; color:#07222b;}
.common h6{font-size:16px; line-height:26px; font-weight:400;}
.common h6.smallH6{font-size:15px; line-height:20px; color:#4e4e4e;}
.common p{font-size:18px; line-height:28px; font-weight:400; color:#444; padding-bottom:20px; margin:0;}
.img-shadow{background:#fff; padding:10px; box-shadow:rgba(0,0,0,.3) 0 0 20px;}
.item-center{align-items:center;}
.justify-content{justify-content:center;}

.whiteSec{padding:50px 0;}
.welSec .container{background:#fff; box-shadow:rgba(0,0,0,.14)  0 0 30px; margin-top:-100px; padding-left:30px; position:relative; z-index:99999;}
.videoSec{padding:30px 0; position:relative;}
.btn-link{border:0; color:#00b140; border-radius:0; font-size:16px; font-weight:700; text-transform:uppercase; padding:0 0; text-align:center;}
.btn-link i{background:url(../images/arrow-right-green.png) no-repeat 0 0; width:13px; height:21px; display:inline-block; vertical-align:middle; margin-left:10px; margin-top:-5px;}
.btn-toolbar:hover{background:#00b140; color:#fff;}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.videoSec::before{content:""; display:block; width:100%; left:0; top:0; position:absolute; height:400px; z-index:0; background: -webkit-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
    );}

.footer{background:#eee; padding:70px 0 50px; color:#082752;}
.clientSec {background: #02feb5 url(../images/pattern.png) repeat 0 0;border-radius: 20px;padding: 40px 0;box-shadow: rgba(0,0,0,.2) 0 0 30px;margin: -150px auto;position: relative;z-index: 1; max-width:950px;}
.footer h2{font-size:21px; font-weight:400; padding-bottom:20px; color:#fff; text-transform:uppercase;}
.footer ul{display:flex; flex-wrap:wrap; justify-content:center;}
.footer ul li a{font-size:15px; line-height:15px; font-weight:600; color:#082752; display:block; padding:0px 25px;  font-family:"Playfair Display", sans-serif; text-transform:uppercase; border-left:1px solid #082752;}
.footer ul li:first-child a{border-left:0;}
.footer .contact a{padding:0 15px 0 15px; color:#fff;}
.footer ul li a:hover, .footer a:hover{color:#e05a00;}
.copyright{font-size:16px; padding:20px 0 0;} 
.social{padding:40px 0; color:#fff;}
.social a{font-size:20px; line-height:36px; text-align:center; color:#fff; width:36px; height:36px; background:#082752; border-radius:300px; display:inline-block;}
.social .fa{line-height:36px;}
.social a:hover{background:#e05a00; color:#fff;}
.menu-bar {display: none;float: right;margin: 0px 5px 0 auto; z-index: 9999;}
.fa-bars {cursor: pointer;display: none; font-size:30px; color:#333; text-align:center;}
.overlay{width:100%; position:fixed; z-index:0; background:rgba(0,0,0,.5); height:100%; right:0px; top:0px; display:none;}

.reviewBox{background:#fff; box-shadow:rgba(0,0,0,.12) 0 0 20px; padding:20px 30px 0px; border-radius:10px; max-width:90%; margin:0 auto 20px; position:relative; z-index:3;}
.reviewBox .user{text-align:center; font-size:16px; letter-spacing:4px; text-transform:uppercase; line-height:16px;}
.reviewBox .user strong{font-size:10px; color:#999; display:block;}
.reviewBox .user .name{background:#fff; border-radius:50px; padding:5px; position:relative; margin:-20px 10px 10px; z-index:1; box-shadow:rgba(0,0,0,.2) 0 0 10px -4px;}
.reviewBox .user img{width:100px; height:100px; border-radius:500px; object-fit:cover; margin-bottom:5px;}

.contactSec{padding:50px 0; background:#fff url(../images/contact-bg.jpg) no-repeat 0 0; background-size:50% 100%;}
.contactSec .row{min-height:550px;}
.cover{padding-left:80px; padding-right:80px;}
.contactSec h5, .contactPg h5{color:#1e1e1e; text-transform:uppercase; font-size:18px; letter-spacing:2px; font-family:"Acherus Grotesque"; padding-bottom:10px;}
.contactSec p, .contactPg p{color:#1e1e1e; font-size:16px; line-height:18px; font-family:"Acherus Grotesque";}
.loc, .mail, .phone{position:relative; padding-left:40px; margin-top:30px;}
.contactPg .loc, .contactPg .mail, .contactPg .phone{position:relative; padding:0 0 0 0; margin:0 0 0;}
.loc::before, .mail::before, .phone::before{content:"\f041"; position:absolute; left:0; top:4px; font-size:28px; font-family:FontAwesome; color:#666;}
.contactPg .loc::before, .contactPg .mail::before, .contactPg .phone::before{position:static; border:2px solid #e05a00; width:60px; height:60px; line-height:55px; display:block; margin:0 auto; color:#e05a00; font-size:30px; border-radius:1000px; margin-bottom:10px;}
.mail::before{content:"\f003"; font-size:20px;}
.phone::before{content:"\f095";}
.contactPg a, .cover a{color:#1e1e1e;} .contactPg a:hover, .cover a:hover{color:#e05a00;}
/* ----------------- owl-carousel ---------------------------------*/
.owl-carousel .owl-wrapper:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.owl-carousel{display: none;position: relative;width: 100%;-ms-touch-action: pan-y; margin-top:20px;}
.owl-carousel .owl-wrapper{display: none;position: relative;-webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow: hidden;position: relative;width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out;-moz-transition: height 500ms ease-in-out;-ms-transition: height 500ms ease-in-out;-o-transition: height 500ms ease-in-out;transition: height 500ms ease-in-out;}
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);bottom:0px; text-align:center; padding-bottom:10px;}
.grabbing { cursor:url(grabbing.png) 8 8, move;}
.owl-carousel  .owl-wrapper,.owl-carousel  .owl-item{-webkit-backface-visibility: hidden;-moz-backface-visibility:    hidden;-ms-backface-visibility:     hidden;-webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {opacity: 1; background: #cf5300;}
.owl-theme .owl-controls .owl-page span {background:#000;border-radius: 20px;display: block;height:10px;margin: 5px 3px;opacity:1;width:10px;}
.owl-theme .owl-controls .owl-page {display: inline-block;}
.owl-controls .owl-page, .owl-controls .owl-buttons div {cursor: pointer;}


ul.option{display:flex; flex-wrap:wrap;}
ul.option li{min-width:20%; padding:10px 20px; text-align:center;}
ul.option li h5, ul.option li h6{font-family:"Acherus Grotesque"; font-size:18px; font-weight:700;}
ul.option li p{padding:10px 0; font-size:20px; color:#000;}
ul.option li:hover{background:#e05a00; border-radius:10px; color:#fff; cursor:pointer;}
ul.option li:hover p, ul.option li:hover h5, ul.option li:hover h6{color:#fff;}
h4.price{font:400 20px "Playfair Display"; color:#666;}
h4.price strong{font:400 34px sans-serif;}
.darkbox{background:#eee; border-radius:30px; padding:20px;}
.lb{font-size:18px; font-weight:bold; margin-bottom:0; color:#555;}
.whitebox{background:#fff; padding:10px 20px 20px; box-shadow:rgba(0,0,0,.1) 0 0 10px; margin:10px 0;}
.whitebox .lb{padding-top:0; margin-top:0;}
.darkbox h4{font-family:"Acherus Grotesque"; font-weight:bold; font-size:23px;}


.menulist  ul li{font-size:22px; padding-bottom:0px;}



.stepBox{overflow:hidden; padding:60px 0 30px;}
.stepBox .stepClm{float:left; font-size:15px; font-weight:600; color:#ddd; text-align:center; width:33.33%; position:relative; z-index:0;}
.stepBox .stepClm::after{border-bottom:2px solid #ddd; content:""; position:absolute; right:-46.5%; width:90%; top:33%;}
.stepBox .stepClm:last-child::after{display:none;}
.stepBox .stepClm span{display:inline-block; background:#fff; border:2px solid #dddddd; border-radius:100px; font-size:20px; font-weight:400; width:50px; height:50px; text-align:center; line-height:45px; font-family:"Acherus Grotesque"; position:relative; z-index:1;}
.stepBox .stepClm h4{font-weight:500; font-size:18px; padding-top:10px; color:#151515; letter-spacing: 1px;}
.stepBox .steparrow{ overflow:hidden; width:100%; overflow:hidden; margin:0 auto;}
.stepBox .stepClm.on{color:#fff;} .stepBox .stepClm.on span{background-color:#e05a00; border-color:#e05a00;}
.mode{border-top:2px dashed #eee; padding-top:25px;}
.mode span.s{display:inline-block; border:1px solid #dadada; border-radius:5px; padding:8px; text-align:center;}
.mode .checkmark-radio{margin-top:10px; margin-right:10px;}

.cart-form {background:#fff; border-radius:5px; overflow:hidden; box-shadow:rgba(0,0,0,.05) 0px 0px 20px; overflow:hidden; padding:50px 60px;}
.cart-form h3, .gadget-box h3{border-bottom:1px solid #e2e2e2; padding-bottom:20px; margin-bottom:20px; color:#1f6199; font-size:20px; font-weight:500;}
.gadget-box h4{font-size:18px; font-weight:500; color:#3d729e; padding:0px 10px 10px;}
.gadget-box p{font-size:15px; font-weight:400; color:#323232; line-height:20px;padding:10px 10px;}
.gadget-box table{border-top:0px solid #e8e8e8; margin-top:0px;}
.gadget-box table th{font-size:15px; font-weight:500; color:#737373; border:0; padding:5px 10px;}
.gadget-box table td{font-size:16px; font-weight:500; color:#2d628f; border:0; padding:5px 10px;}
.gadget-box table tr.total{border-top:1px solid #e8e8e8;}
.gadget-box table tr.total strong{color:#e05a00; font-size:26px; font-weight:bold;}
.cart-form label{color:#333; font-size:14px; font-weight:500; margin-bottom:0;}
.form-control{height:50px; font-size:16px;}
.form-group{padding-bottom:10px;}
.gadget-box td{font-size:18px; font-weight:400; color:#727272; padding:5px 0;}
.gadget-box th{font-size:25px; font-weight:700; color:#00b140; padding:15px 0; border-top:1px solid #eee;}
.widget{background:#fff; box-shadow:rgba(0,0,0,.1) 0px 0px 9px;  border-radius:10px; overflow:hidden; margin-bottom:20px;}
.title{background:#e05a00; padding:12px 25px; color:#fff; font-size:16px; font-weight:700; text-transform:uppercase; position:relative; pointer-events: none;}
.title::after{position:absolute; content:"\f1de"; right:15px; top:16px;color:#fff;font-size:22px; font-family:"FontAwesome"; font-weight:normal;}
.qcontact .title::after{content:"\f2ba";}
.reports .title::after{content:"\f0f6";}
.widgetBox{padding:20px 15px 10px; border-bottom:1px solid #eee; font-size:13px; color:#797979; font-weight:300; background:#fff;}
.widgetBox table td a{color:#5b5b5b;}
.qcontact table td{font-size:16px; color:#5b5b5b; font-weight:500; padding:12px 20px!important;}
.qcontact table td .fa{margin-right:10px; font-size:20px;}
.widgetBox.last{border-bottom:0;}
.widgetBox h2{font-size:18px; font-weight:500; color:#4a4a4a; text-transform:uppercase; padding-bottom:8px;}
.widgetBox h3{font-size:15px; font-weight:500; color:#4a4a4a; padding-bottom:8px;}
.widgetBox a:hover, .widgetBox .row:hover a{color:#1f6199;}
.widgetBox table{margin-bottom:15px;}
.widgetBox table td{padding:3px 10px;}
.widgetBox table td strong{font-size:18px; font-weight:500; color:#3d729e;}
.widgetBox .btn{padding:11px 20px; margin-bottom:15px;}
.widgetBox .btn:hover{background:#09F; color:#fff; font-weight:500;}
.padder{padding:5px 15px 15px;}

.lightGraySec{padding:70px 0; background:#f3f3f3;}
.item-row{border:1px solid #444; padding:20px 40px 15px; border-radius:300px; max-width:80%;}
.darkbox p{font-size:26px; line-height:32px;}
@media only screen and (max-width: 1200px){
.container{padding-left:15px; padding-right:15px;}
.row{margin-left:0; margin-right:0;}
}

@media only screen and (max-width: 1100px){
.nav{max-width:100%;}
.item-row{max-width:100%;}
}

@media only screen and (max-width: 991px){
.col-lg-6{padding-top:15px; padding-bottom:15px;}
.footer .col-lg-7{order:3; padding-top:30px;}
.welSec .text-right{text-align:left!important;}
.item-row{border-radius:50px; border-width:1px;}
.item-row p{padding-top:20px;}
}

@media only screen and (max-width: 800px){
.width65{width:100%;}
.we-do li{padding:30px 10px;}
.clientSec{padding:40px 30px;}
}

@media only screen and (max-width: 767px){
.common h2{font-size:35px;}
.steps li{width:100%; margin:25px 0;}
.steps li::before{display:none;}
.footer .contact{text-align:left!important; padding-bottom:50px;}
.we-do {padding:0px 20px;}
.we-do li{max-width:330px; flex:0 0 330px; margin:0 2px 4px; padding:50px 20px;}
.common h3{font-size:26px;}.clientSec h3{font-size:20px;}
.common h4{font-size:22px;}
.banner h1{font-size:40px;}
.banner{background-position: left center; min-height:500px; padding:40px 0;}
.reviewBox{text-align:center;}
.contactSec{background-size:cover; position:relative;}
.contactSec .row{min-height:inherit;}
.contactSec::after{background:rgba(0,0,0,.8); content:""; display:block; width:100%; height:100%; position:absolute; left:0; top:0; z-index:0;}
.contactSec .cover{position:relative; z-index:2;}
.contactSec h5, .contactSec p, .contactSec p a{color:#fff;}
.banner .btn{font-size:20px; padding:15px 30px;}
.welSec .container{margin-top:0; padding-left:0;}

.darkbox{padding:30px 15px;}

.header{padding:20px 0 ; position:absolute; right:0; top:0; background:none; box-shadow:none;}
.nav{flex:inherit; max-width:none;}
.menu-bar{display:inline-block;}
.nav .menu{display: none; background:#111; box-shadow:0 -8px 6px 0 #000 inset;}
.fa-bars{display:block; float:right; color:#fff;}
span.fa-bars::before{display:none;}
.menu .fa-bars{margin:10px 20px;}
.nav ul{clear:both; display:block; }
.nav ul li{border-bottom: 0 none;float: none; display:block; text-align:left; padding:0px 0px; border-radius:0px;border-bottom: 1px solid #222;}
.nav ul li a, .nav ul li.last a, .nav ul li a.active{padding:16px 20px; color:#fff; border:0px;text-align:left;}
.nav ul li ul li a{padding:15px 10px 15px 30px; border-bottom:0;}
.nav ul li ul li{background:#222; border-bottom:1px solid #000;}
.nav ul li:hover ul li a{border-bottom:0;}
.nav .menu{position:fixed; top:0px; right:0px; display:none; width:340px; z-index:999999!important; height:120%; overflow:scroll;}
.nav ul li.menu-link a{border-radius:0;}
.nav .menu ul{overflow:auto;height:100%; }
.nav ul li.last{padding:0px;}
.nav ul li a:hover{color:#fff; background:#e05a00; border:0px;}
.nav ul li:hover a{border:0px;}
.nav ul li ul{position:static; top:0px; left:0px;}
.nav ul li:hover ul{display:none;}
.nav ul li ul{width:100%; background:none; box-shadow:none;}
.nav ul li a .fa{float:right; font-size:14px; margin-top:3px}
.logo{padding:10px 0 10px 0px; width:60%;}
.nav ul li.menu-link a {border:0; color:#fff;}
.we-do li{padding:50px 40px;}



ul.option li{min-width:100%; padding:20px 0; border-bottom:1px solid #ddd;}
ul.option li:last-child{border-bottom:0;}
.header{background:rgba(0,0,0,.5); padding:12px 0;}
.contactSec label{color:#fff;}
.cart-form{padding:30px 20px;}
}

@media only screen and (max-width: 500px){
.banner{padding:100px 0;}
.contactSec .cover{padding:0 10px;}
.common h2{font-size:24px;}
.banner .btn{font-size:16px; padding:18px 25px;}
.footer ul li a{margin-top:10px; margin-bottom:10px;}
.inner-banner{min-height:inherit; padding:100px 0;}
.width70{width:100%;}
.item-row{padding:20px 10px; margin-top:20px;}
.item-row h1{font-size:30px;}
.item-row .price{font-size:20px;}
.item-row .price strong{font-size:24px;}
}